
version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports:
      - "8000:8000"
    environment:
      - DB_URL=sqlite:///./videorent.db
    volumes:
      - ./:/app
